<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE MVC - @ViewData["Title"]</title>
  
    <!--- Styles --->
    <partial name="AdminLTE/_Styles" />
    <!-- Scripts -->
    <partial name="AdminLTE/_Scripts" />
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Top Navigation -->
      <div class="top-navigation">
        <partial name="AdminLTE/_TopNavigation" />
      </div>

      <!-- Main Navigation -->
      <div class="main-navigation">
        <partial name="AdminLTE/_MainNavigation" />
      </div>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" runat="server">
        @RenderBody()
      </div>
      
      <!-- Footer -->
      <div class="footer">
        <partial name="AdminLTE/_Footer" />
      </div>
    </div>

  </body>
</html>
