<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE MVC - @ViewData["Title"]</title>
  
    <!-- Scripts -->
    <partial name="AdminLTE/_Scripts" />
    <!--- Styles --->
    <partial name="AdminLTE/_Styles" />
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Top Navigation -->
      <partial name="AdminLTE/_TopNavigation" />
      
      <!-- Side Navigation -->
      <partial name="AdminLTE/_MainNavigation" />

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
          @RenderBody()
        </div> <!-- /.content -->
      </div> <!-- /.content-wrapper -->
      
      <!-- Footer -->
      <partial name="AdminLTE/_Footer" />
    </div>
  </body>
</html>
