@using static AdminLTE_MVC.Helpers.NavigationIndicatorHelper;

<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
      <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a asp-controller="Profile" asp-action="Index" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Home -->
          <li class="nav-item">
            <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <!-- Privacy -->
          <li class="nav-item">
            <a asp-controller="Home" asp-action="Privacy" class="nav-link @Url.MakeActiveClass("home","privacy")">
              <i class="nav-icon fas fa-lock"></i>
              <p>
                Privacy
              </p>
            </a>
          </li>
          <!-- Page One -->
          <li class="nav-item">
            <a asp-controller="Home" asp-action="PageOne" class="nav-link @Url.MakeActiveClass("home","pageone")">
              <i class="far fa-circle nav-icon"></i>
              <p>Page One</p>
            </a>
          </li>
          <!-- Page Two -->
          <li class="nav-item">
            <a asp-controller="Home" asp-action="PageTwo" class="nav-link @Url.MakeActiveClass("home","pagetwo")"> 
              <i class="nav-icon fas fa-th"></i>
              <p>Page Two
                <span class="right badge badge-danger">New</span>   @*hardcoded new badge for preview reasons*@
              </p>
            </a>
          </li>
        </ul>
      </nav> <!-- /.sidebar-menu -->
    </div> <!-- /.sidebar -->
  </aside>