@using AdminLTE_MVC.Snmp;

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Widgets</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <!-- First Row -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Default Card Example</h3>
        <div class="card-tools">
          <!-- Buttons, labels, and many other things can be placed here! -->
          <!-- Here is a label for example -->
          <span class="badge badge-primary">Label</span>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The body of the card
        <!-- Column A -->
        <section class="col-lg-3 connectedSortable ui-sortable"> @*<div class="card-header ui-sortable-handle" style="cursor: move;">*@
          <!-- Card 1 -->
        
          <!-- Card 2 -->
        
          <!-- Card 3 -->
        
          <!-- Card 4 -->
        
          <!-- Card 5 -->
        
          <!-- Card 6 -->
        
        </section>
        
        <!-- Column B -->
        <section class="col-lg-3 connectedSortable ui-sortable">
          <!-- Card 1 -->
        
          <!-- Card 2 -->
        
          <!-- Card 3 -->
        
          <!-- Card 4 -->
        
          <!-- Card 5 -->
        
          <!-- Card 6 -->
        
        </section>
        
        <!-- Column C -->
        <section class="col-lg-3 connectedSortable ui-sortable">
          <!-- Card 1 -->
        
          <!-- Card 2 -->
        
          <!-- Card 3 -->
        
          <!-- Card 4 -->
        
          <!-- Card 5 -->
        
          <!-- Card 6 -->
        
        </section>
        
        <!-- Column D -->
        <section class="col-lg-3 connectedSortable ui-sortable">
          <!-- Card 1 -->
        
          <!-- Card 2 -->
        
          <!-- Card 3 -->
        
          <!-- Card 4 -->
        
          <!-- Card 5 -->
        
          <!-- Card 6 -->
        
        </section>
      </div>
    </div>
  </div>
</div>
<script src="~/js/pages/dashboard.js"></script>