@using AdminLTE_MVC.Snmp;

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Widgets</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <!-- First Row -->
    <div class="row row-auto">
      <!-- Column A -->
      <section class="col-lg-3 connectedSortable ui-sortable">
        <!-- Card 1 -->
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Kabin Sıcaklık</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand"><div class=""></div></div>
              <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
            </div>
            <div id="preview-textfield" class="text-center">
                @SnmpManager.GetValue(Model[0])) <i class="fas fa-thermometer"></i>
            </div>
            <canvas id="gaugeOne"></canvas>
          </div>

          <div class="card-footer text-center">
            More info <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="card card-primary">
          <div class="card-header ui-sortable-handle" style="cursor: move;">
            <h3 class="card-title">Kabin Nem</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <canvas id="gaugeTwo" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
          <div class="card-footer text-center">
            More info <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
        <!-- Card 3 -->

      </section>

      <!-- Column B -->
      <section class="col-lg-3 connectedSortable ui-sortable">
       
        <!-- Card 2 -->

        <!-- Card 3 -->

      </section>

      <!-- Column C -->
      <section class="col-lg-3 connectedSortable ui-sortable">
        <!-- Card 1 -->

        <!-- Card 2 -->

        <!-- Card 3 -->

      </section>

      <!-- Column D -->
      <section class="col-lg-3 connectedSortable ui-sortable">
        <!-- Card 1 -->

        <!-- Card 2 -->

        <!-- Card 3 -->

      </section>
    </div>
  </div>
</div>
<script>
var opts = {
    // color configs
    colorStart: "#6fadcf",
    colorStop: void 0,
    gradientType: 0,
    strokeColor: "#e0e0e0",
    generateGradient: true,
    percentColors: [[0.0, "#a9d70b" ], [0.50, "#f9c802"], [1.0, "#ff0000"]],
    // customize pointer
    pointer: {
      length: 0.8,
      strokeWidth: 0.035,
      iconScale: 1.0
    },
    // static labels
    staticLabels: {
      font: "10px sans-serif",
      labels: [0, 20, 25, 35, 40, 50],
      fractionDigits: 0
    },
    // static zones
    staticZones: [
      {strokeStyle: "#F03E3E", min: 0, max: 20},
      {strokeStyle: "#FFDD00", min: 20, max: 25},
      {strokeStyle: "#30B32D", min: 25, max: 35},
      {strokeStyle: "#FFDD00", min: 35, max: 40},
      {strokeStyle: "#F03E3E", min: 40, max: 50}
    ],
    // render ticks
    renderTicks: {
      divisions: 5,
      divWidth: 1.1,
      divLength: 0.7,
      divColor: "#333333",
      subDivisions: 3,
      subLength: 0.5,
      subWidth: 0.6,
      subColor: "#666666"
    },
    // the span of the gauge arc
    angle: 0.1,
    // line thickness
    lineWidth: 0.44,
    // radius scale
    radiusScale: 1.0,
    // font size
    fontSize: 40,
    // if false, max value increases automatically if value > maxValue
    limitMax: false,
    // if true, the min value of the gauge will be fixed
    limitMin: false,
    // High resolution support
    highDpiSupport: true
};
var target = document.getElementById('gaugeOne');
var gauge = new Gauge(target).setOptions(opts);

document.getElementById("preview-textfield").className = "preview-textfield";
gauge.setTextField(document.getElementById("preview-textfield"), 2);

gauge.maxValue = 50;
gauge.setMinValue(0);
gauge.set(@SnmpManager.GetValue(Model[0]));

gauge.animationSpeed = 32
</script>

<script src="~/js/pages/sorting.js"></script>
