.gauge-parent {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-link {
  color: #000000;
}

.gauge-text {
  font-size: 1rem;
  width: 85%;
  margin: 0 auto;
}